* {
  box-sizing: border-box;
}

html {
  font: calc(100% * 0.625) / 1.15 HelveticaNeue, Helvetica, sans-serif;
}

body {
  font-size: 1.8rem;
  line-height: 1.875;
  color: #252525;
  margin: 0;
}


main {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

legend > h3 {
  margin: 0;
}

main {
  width: 95%;
  max-width: 120rem;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.main__form {
  flex: 4;
}

.feature {
  padding: 0.8rem;
  padding-top: 0.4rem;
  border: 0;
}

.feature + .feature {
  margin-top: 0.8rem;
}

.feature__name {
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
}

.feature__item + .feature__item {
  margin-top: 0.8rem;
}





